if theme.aside.card_categories.enable
  if site.categories.length
    .card-widget.card-categories
      .item-headline
        a(href='/categories/' title='查看所有分类')
          i.fas.fa-folder-open
          span= _p('aside.card_categories') + ' (' + site.categories.length + ')'
      !=aside_categories({ limit: theme.aside.card_categories.limit === 0 ? 0 : theme.aside.card_categories.limit || 8 , expand: theme.aside.card_categories.expand })
